.detail {
	padding: 10px;
}
.mybox {
	margin-top: 5px;
	padding-top: 5px;
}
.mybox dt {
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	padding-bottom: 8px;
}
.mylabel {
	width: 50%;
	display: inline-block;
}
.myvalue {
	width: 50%;
	display: inline-block;
}
.dlfloatdd dd {
	color: #fff;
	font-size: 0.9em;
	float: left;
	padding: 2px 5px;
	margin: 0px 2px 5px 0px;
	border: solid 1px #ccc;
	-moz-box-shadow: 1px -1px 5px #eee inset;
	-webkit-box-shadow: 1px -1px 5px #eee inset;
	box-shadow: 1px -1px 5px #eee inset;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.dlnormal div {
	border: solid 1px #CCCCCC;
	-moz-box-shadow: 3px -2px 12px #eee inset;
	-webkit-box-shadow: 3px -2px 12px #eee inset;
	box-shadow: 3px -2px 12px #eee inset;
	padding: 5px 2.5%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.dlnormal dd {
	font-size: 0.9em;
	line-height: 1.6em;
	color: #fff;
}
.clear-left {
	clear: left;
}
.text_pic {
	text-align: center;
	/*background-color: white;*/
	border: solid 1px #CCCCCC;
	-moz-box-shadow: 3px -2px 12px #eee inset;
	-webkit-box-shadow: 3px -2px 12px #eee inset;
	box-shadow: 3px -2px 12px #eee inset;
	padding: 5px 2.5%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.text_pic > img {
	max-width: 70%;
	max-height: 160px;
	padding-top: 15px;
}

h1 {
	font-size: 1em;
	color: #fff;
	/*background-color: #fff;*/
}
.desc {
	margin-top: 8px
}
.desc ul li {
	font-size: 0.9em;
	line-height: 1.5em;
	font-weight: 600;
	color: #fff;
}