* {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
}
body {
	font: Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, sans-self;
	color: #666666;
	background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
	background-color: #282828;
	background-size: 16px 16px;
}
a {
	color: #0066cc;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
nav {
	/*background-color: #ffe;*/
	/*border-bottom: solid 1px #CCCCCC;*/
	
	-moz-box-shadow: 3px -2px 12px #eee inset;
	-webkit-box-shadow: 3px -2px 12px #eee inset;
	box-shadow: 3px -2px 12px #eee inset;
	margin-bottom: 8px;
	height: 38px;
}
.bgDv {
	z-index: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient( circle closest-side, #999, black);
	opacity: 0.3;
}
.logoDv {
	/*background: url(../img/wx_logo.png) no-repeat right;*/
	
	height: 36px;
}
.navTitle {
	width: 100%;
	position: absolute;
	line-height: 36px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	z-index: 1;
}
.menu {
	display: none;
	overflow: hidden;
	background-color: white;
	position: absolute;
	z-index: 101;
	width: 60%;
	border: solid 1px #CCCCCC;
	/*-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	box-shadow: 2px 2px 5px #999;*/
	
	padding: 5px 2.5%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.menu ul li {
	line-height: 2.0em;
}
.menu ul li:first-child {
	border-bottom: solid 1px #ccc;
}
.menu ul li a {
	display: block;
}
.nav-toggle {
	float: left;
	width: 25px;
	margin-top: 16px;
	padding-left: 12px;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
	z-index: 2;
	cursor: pointer;
	border-radius: 1px;
	height: 4px;
	width: 20px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}
.nav-toggle span:before {
	top: -6px;
}
.nav-toggle span:after {
	bottom: -6px;
}
footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	width: 100% margin-top: 10px;
	clear: left;
	font-size: 0.8em;
	height: 22px;
	line-height: 22px;
	color: #666;
	background-color: #ffe;
	text-align: center;
}