* {
	margin: 0;
	padding: 0;
}
body {
	font: Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, sans-self;
	color: #666666;
	background: #f1f1f1;
}

a{color: #0066cc;text-decoration: none;}

ul {
	list-style-type: none;
}

nav {
	background-color: white;
	border-bottom: solid 1px #CCCCCC;
	-moz-box-shadow: 0px 5px 8px #999;
	-webkit-box-shadow: 0px 5px 8px #999;
	box-shadow: 0px 5px 8px #999;
	margin-bottom: 8px;
	height: 36px;
}
.logoDv{
	background: url(../img/wx_logo.png) no-repeat;
	height:36px;
}

.menu{
	display: none;
	background-color: white;
	position: absolute;
	width: 50%;
	left:42%;
	border: solid 1px #CCCCCC;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	box-shadow: 2px 2px 5px #999;
	padding: 5px 2.5%;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
.menu ul li{
	line-height: 2.0em;
}
.menu ul li:first-child{
	border-bottom: solid 1px #ccc;
}
.menu ul li a{
	display: block;
}

.nav-toggle{
	float: right;
	width:25px;
	margin-top:16px;
	padding-right: 8px;
}
.nav-toggle span, .nav-toggle span:before,.nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 20px;
  background: #333;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -6px;
}
.nav-toggle span:after {
  bottom: -6px; 
}

footer{
	margin-top: 10px;
	clear: left;
	font-size: 0.8em;
	height: 42px;
	line-height: 42px;
	color: #EEEEEE;
	background-color: #666666;
	text-align: center;
}
