<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="email=no" name="format-detection" />
		<title>多利仕|全部产品展示</title>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
		<link rel="stylesheet" type="text/css" href="prods/css/type.css"/>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<style type="text/css">
			h2{
				color: white;
				border-bottom: solid 1px #fff;
				border-right: solid 1px #fff;
				width: 200px;
				margin-top:10px;
				border-radius: 0px 0px 12px 0px;
			}
			hr{
				clear: left;
				color: #fff;
			}
		</style>
	</head>
	<body>
		<header>
			<nav>
				<div class="logoDv">
					<div class="nav-toggle" id="popMenu"><span></span>
					</div>

					<p class="navTitle">全部产品展示</p>

				</div>
			</nav>

			<div id="menu" class="menu">
				<ul>
					<li><a href="../index.html">产品展示</a>
					</li>
					<li><a href="../join.html">联系我们</a>
					</li>
				</ul>
			</div>

		</header>
		
		<hr />
		<h2>&gt;&gt;角磨系列</h2>
		<div class="typelist">
			<ul id="jiaomoxilie">
				<li v-for="prod in prodList">
					<a :href="prod.link">
				      	<div>
				      		<img :src="prod.imageUrl"/>
				      	</div>
						<p>{{prod.name}}</p>
						<p class="p2">{{prod.type}}</p>
						<span class="pbg"></span>
					</a>
			    </li>
			</ul>
		</div>
		<script src="js/vue/jiaomoxilie.js" type="text/javascript" charset="utf-8"></script>
		
		<hr />
		<h2>&gt;&gt;切割系列</h2>
		<div class="typelist">
			<ul id="qiegexilie">
				<li v-for="prod in prodList">
					<a :href="prod.link">
				      	<div>
				      		<img :src="prod.imageUrl"/>
				      	</div>
						<p>{{prod.name}}</p>
						<p class="p2">{{prod.type}}</p>
						<span class="pbg"></span>
					</a>
			    </li>
			</ul>
		</div>
		<script src="js/vue/qiegexilie.js" type="text/javascript" charset="utf-8"></script>
		
		<hr />
		<h2>&gt;&gt;砂磨系列</h2>
		<div class="typelist">
			<ul id="shamoxilie">
				<li v-for="prod in prodList">
					<a :href="prod.link">
				      	<img :src="prod.imageUrl"/>
						<p>{{prod.name}}</p>
						<p class="p2">{{prod.type}}</p>
						<span class="pbg"></span>
					</a>
			    </li>
			</ul>
		</div>
		<script src="js/vue/shamoxilie.js" type="text/javascript" charset="utf-8"></script>
		
		<hr />
		<h2>&gt;&gt;锂电系列</h2>
		<div class="typelist">
			<ul id="lidianxilie">
				<li v-for="prod in prodList">
					<a :href="prod.link">
				      	<img :src="prod.imageUrl"/>
						<p>{{prod.name}}</p>
						<p class="p2">{{prod.type}}</p>
						<span class="pbg"></span>
					</a>
			    </li>
			</ul>
		</div>
		<script src="js/vue/lidianxilie.js" type="text/javascript" charset="utf-8"></script>
		
		<hr />
		<h2>&gt;&gt;锤钻系列</h2>
		<div class="typelist">
			<ul id="chuizuanxilie">
				<li v-for="prod in prodList">
					<a :href="prod.link">
				      	<img :src="prod.imageUrl"/>
						<p>{{prod.name}}</p>
						<p class="p2">{{prod.type}}</p>
						<span class="pbg"></span>
					</a>
			    </li>
			</ul>
		</div>
		<script src="js/vue/chuizuanxilie.js" type="text/javascript" charset="utf-8"></script>
		
		<hr />
		<h2>&gt;&gt;直磨系列</h2>
		<div class="typelist">
			<ul id="zhimoxilie">
				<li v-for="prod in prodList">
					<a :href="prod.link">
						<div>
							<img :src="prod.imageUrl"/>
						</div>
						<p>{{prod.name}}</p>
						<p class="p2">{{prod.type}}</p>
						<span class="pbg"></span>
					</a>
			    </li>
			</ul>
		</div>
		<script src="js/vue/zhimoxilie.js" type="text/javascript" charset="utf-8"></script>
		
		<footer style="">
			Copyright&nbsp;&copy;&nbsp;2015&nbsp;所有版权归多利仕所有
		</footer>
		<script src="js/func.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
